<!DOCTYPE html>
<html>
	<head>
		<title>Armored Patrol Minimap</title>
		<style>
			body {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				text-align: center;
			}

			.button {
				background-color: rgb(44, 44, 44);
				border: none;
				color: white;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 12px;
				transition-duration: 0.2s;
				cursor: pointer;
				border-radius: 4px;
				padding: 4px 10px;
			}

			.header-spacing {
				margin: 0px 1px;
			}

			.button:hover {
				background-color: #3d3d3d;
			}

			.header {
				text-align: center;
				padding: 10px 2px;
				color: rgb(17, 17, 17);
				border-radius: 14px;
			}

			.viewport-container {
				text-align: center;
				padding: 0px 0px;
			}

			.viewport {
				border: 2px solid #ebebeb;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<label class="header-spacing" for="UrlInput">Data Url:</label>
			<input class="header-spacing" id="UrlInput" name="UrlInput" value="localhost:8111">

			<label class="header-spacing" for="MapBoundX">Map Bounds: x</label>
			<input class="header-spacing" type="number" id="MapBoundX" name="MapBoundX" min="1" max="100000" value="3000">

			<label class="header-spacing" for="MapBoundY">y</label>
			<input class="header-spacing" type="number" id="MapBoundY" name="MapBoundY" min="1" max="100000" value="3000">

			<label class="header-spacing" for="OffsetX">Offset: x</label>
			<input class="header-spacing" type="number" id="OffsetX" name="OffsetX" min="1" max="100000" value="3000">

			<label class="header-spacing" for="OffsetY">y</label>
			<input class="header-spacing" type="number" id="OffsetY" name="OffsetY" min="1" max="100000" value="3000">

			<button class="header-spacing button" id="StartBttn" onclick="Start()">Start</button>
			<a class="header-spacing button" id="StartBttn" href="">Restart</a>
		</div>
		<div class="viewport-container">
			<canvas id="MapViewport" class="viewport" width="600" height="600">
				Your browser does not support the HTML canvas tag.
			</canvas>
		</div>
		<div>
			<h3>Extra Data:</h3>
			<p id="ExtraData">
				
			</p>
		</div>
		<div>
			<h3>Executor Script:</h3>
			<code>
				loadstring(game:HttpGet("http://localhost:8112/source"))();
			</code>
		</div>
		<img id="MapImg" width="0" height="0" src="Map.png" alt="Png">
		<script>
			var StartBttn = document.getElementById("StartBttn");
			var UrlInput = document.getElementById("UrlInput");
			var MapXInput = document.getElementById("MapBoundX");
			var MapYInput = document.getElementById("MapBoundY");
			var ExtraData = document.getElementById("ExtraData");
			var MapImg = document.getElementById("MapImg");

			var Canvas = document.getElementById("MapViewport");

			//alert(Canvas);
			var Pen = Canvas.getContext("2d");
			Pen.textAlign = "center";
			
			function StatusText(Text) {
				Pen.font = "30px Consolas";
				Pen.fillText(Text, Canvas.width / 2, Canvas.height / 2);
			}

			StatusText("Press Start to begin.");

			function ClearCanvas() {
				Pen.clearRect(0, 0, Canvas.width, Canvas.height);
			}

			function UpdateData(Data) {
				var MapX = MapXInput.value / Canvas.width;
				var MapY = MapYInput.value / Canvas.height;

				console.log(MapX, MapY);

				// Health Data

				ExtraData.innerHTML = `<b>Player:</b> ${Data.LocalData.Name}<br><br><b>Health:</b> ${Data.LocalData.Health}<br><br><b>Team:</b> ${Data.LocalData.TeamName}`;

				// Viewport
				//console.log(Data);
				ClearCanvas();
				Pen.drawImage(MapImg, 0, 0);

				for(var x=0.5;x<=Canvas.width+2;x+=50) {
					Pen.moveTo(x, 0);
					Pen.lineTo(x, Canvas.width);
				}

				for(var y=0.5; y<=Canvas.height+2; y+=50) {
					Pen.moveTo(0, y);
					Pen.lineTo(Canvas.height, y);
				}

				Pen.strokeStyle = "rgba(0,0,0, 0.2)";
				Pen.stroke();

				for (const PlayerInfoIndex in Data.PlayerLocations) {
					const PlayerInfo = Data.PlayerLocations[PlayerInfoIndex];
					console.log(PlayerInfo);

					// Translate Data
					//PlayerInfo.Position.X = -PlayerInfo.Position.X;
					//PlayerInfo.Position.Y = -PlayerInfo.Position.Y;

					var ViewX = PlayerInfo.Position.X / MapX;
					var ViewY = PlayerInfo.Position.Y / MapY;

					// Draw Dot
					Pen.strokeStyle = PlayerInfo.TeamColor;
					Pen.beginPath();
					Pen.lineWidth = "1";
					Pen.rect(ViewX - 1, ViewY - 1, 3, 3);
					Pen.stroke();

					// Draw Username
					Pen.font = "12px Consolas";
					Pen.fillStyle = `${PlayerInfo.TeamColor}`;
					Pen.fillText(PlayerInfo.Name, ViewX, ViewY - 7);
				}
			}

			function Start() {
				ClearCanvas();
				StatusText("Connecting...");
				let DataSocket = new WebSocket(`ws://${UrlInput.value}`);
				
				StartBttn.disabled = true;
				UrlInput.disabled = true;

				DataSocket.onopen = function() {
					ClearCanvas();
					StatusText("Waiting for data...");
				}

				DataSocket.onmessage = function(Event) {
					UpdateData(JSON.parse(Event.data));
				}

				DataSocket.onerror = function() {
					ClearCanvas();
					StatusText("Connection has failed. Are you hosting the server script?");
				}
			}
		</script>
	</body>
</html>